<html>
    <head>
        <link rel="stylesheet" href="/static/css/home.css">
    </head>

    <body>
        <header>
            <div class="menu">
                <a href="" class="home">
                    <img src="/static/img/house (1).png" class="home-img"> 
                </a>
    
                <a href="" class="profile">
                    <img src="/static/img/celebrity.png" class="profile-img">
                </a>
    
                <a href="" class="shop">
                    <img src="/static/img/treasure-chest.png" class="shop-img">
                </a>
    
                <a href="levels.html" class="levels">
                    <img src="/static/img/choose.png" class="levels-img">
                </a>
    
                <a href="" class="exit">
                    <img src="/static/img/exit.png" class="exit-img">
                </a>
            </div>
        </header>

        <div class="user">
            <p class="user-name">Oscar</p>
        </div>
        <div class="user-image">
            <img src="static/img/profile.png" class="user-png">
        </div>

        <div class="coin-number">
            <p class="coin-text"> 100 </p>    
        </div>
        <div class="coin">        
            <img src="static/img/dollar.png" class="coin-img">
        </div>

        <center>
            <div class="icon">
                <a>
                    <img src="static/img/smartphone (1).png" class="icon-img">
                </a>
            </div>

            <div class="text">
                <p class="quizgg">
                    Quiz <span class="GG">GG</span>
                </p>
            </div>

            <div class="lema">
                <p class="text1">
                    Quiz <span class="GG">GG</span>, juega, descubre y <span class="GG">diviertete.</span> 
                </p>
            </div>

            <div class="actions">
                <p class="text1">
                    Comienza a jugar &zwnj; &zwnj; &zwnj; &zwnj;  &zwnj;  &zwnj; &zwnj;  &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;  &zwnj;  &zwnj; &zwnj; &zwnj; &zwnj;   Contactanos
                </p>
            </div>

            <div class="action-img">
                <img src="/static/img/multimedia.png" class="mult">
                <img src="/static/img/communicate.png" class="mult">
            </div>

            <div class="help">
                <p class="text1">
                    Need <span class="GG">help?</span>
                </p>
                <img src="static/img/flag.png" class="mult">
            </div>

            <div class="footer">
                <p class="footer-text">QuizGG Copyright © Todos los derechos reservados </p>
            </div>
            
        </center>

    </body>
</html>
