.line{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
    
    background: #A5FFA8;
}

.icon{
    position: absolute;
    width: 512px;
    height: 512px;
    left: 15%;
    top: 25%;
}

.login{
    position: absolute;
width: 277px;
height: 63px;
left: 65%;
top: 10%;

font-family: Sora;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 63px;
/* identical to box height */

text-align: center;
}